In [1]:
import numpy as np
import random
import pandas as pd
from matplotlib import pyplot as plt
import string

In [2]:
rng = np.random.default_rng(42)
n = 340000

ab_status = random.choices('ABX', weights = (33, 33, 34),  k = n)
uu_id = ["".join([random.choice(string.ascii_lowercase + string.digits) for _ in range(30)]) for _ in range(n)]
cv_flg = rng.binomial(n = 1, p = 0.2, size = n)

sample_df = pd.DataFrame(zip(ab_status, uu_id, cv_flg), columns = ['ab_status', 'uu_id', 'cv_flg'])

In [3]:
sample_df.head()

  ab_status                           uu_id  cv_flg
0         B  tyh6eg141gvso3quk2gptmgqhhqgbj       0
1         A  j0523320y2evhbe875cq2mol2wlf3n       0
2         X  e79kwdk2o0pptvdshbha581a2zmob7       1
3         X  j4grtbnqf374tvtzs1i2bf0oc55v9o       0
4         B  61275b94so7tkhmvzbqkmrbx8r8a9b       0

In [4]:
sample_df.to_pickle('data/sample_df.pkl')